<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="UTF-8">
        <title>Zołza Hairstyles - aktywacja konta</title>
    </head>
    <body style="font-family:arial,helvetica,sans-serif; text-align: center;">
        <h1 style="font-size: 25px;">Witaj, {{user}}!</h1>
        <h2>Dziękujemy za założenie konta na <a href="https://mephew.ddns.net">zolza-hairstyles.pl.</a></h2>
        <h2 style="font-weight: normal;">Aby zweryfikować adres email swojego konta, kliknij poniższy przycisk</h2>
        <div style="text-align: center; display: flex; align-items: center; justify-content:center;">
            <a href="{{account_confirmation_link}}" style="display: block; text-decoration: none; margin: 5px 0;
             background-color: rgb(34, 188, 102); color: white; padding: 10px 20px; padding-left: 20px; padding-right: 20px; padding-top:
              10px; padding-bottom: 10px; font-size: 20px; border-radius: 10px; text-align: center; width: 50%;">Aktywuj konto</a>
        </div>
        <h2 style="font-weight: normal;">Jeżeli powyższy przycisk nie działa, skopiuj poniższy adres URL i wklej go w pasku wyszukiwania swojej przeglądarki</h2>
        <p style="background-color: rgb(237, 239, 242); display: block; margin: 5px 0;
          color: rgb(116, 120, 126); padding: 10px 20px; padding-left: 20px; padding-right: 20px; padding-top: 10px;
          padding-bottom: 10px; border-radius: 10px; font-size: 18px; text-align: left; word-break: break-all;">{{account_confirmation_link}}</p>
        <h2 style="font-weight: normal; font-size: 15px; text-align: center;">© 2021 Zołza Hairstyles</h2>
    </body>
</html>