<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="UTF-8">
        <title>Zołza Hairstyles - aktywacja konta</title>
    </head>
    <body style="font-family:arial,helvetica,sans-serif">
        <h2>Witaj, {{user}}!</h2>
        <h3>Dziękujemy za założenie konta na <a href="https://mephew.ddns.net">zolza-hairstyles.pl.</a></h3>
        <h4 style="font-weight: normal;">Aby dokończyć proces rejestracji, kliknij poniższy link:</h4>
        <a href="{{account_confirmation_link}}" style="display: block; margin: 5px 0; background-color: rgb(155, 240, 225);
          color: white; padding: 10px 20px; padding-left: 20px; padding-right: 20px; padding-top: 10px;
          padding-bottom: 10px;">Aktywuj konto</a>
        <h4 style="font-weight: normal;">Jeżeli powyższy link nie działa, skopiuj poniższy adres URL i wklej
            go w pasku wyszukiwania swojej przeglądarki:</h4>
        <a href="{{account_confirmation_link}}">{{account_confirmation_link}}</a>
        <footer>
            <p>© 2021 Zołza Hairstyles</p>
        </footer>
    </body>
</html>