<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="UTF-8">
        <title>Zołza Hairstyles - resetowanie hasła reset</title>
    </head>
    <body style="font-family:arial,helvetica,sans-serif; text-align: center;">
        <h1 style="font-size: 25px;">Witaj, {{user}}!</h1>
        <h2>Otrzymałeś tę wiadomość, ponieważ zostaliśmy poproszeni o zresetowanie hasła do twojego konta</h2>
        <h2 style="font-weight: normal;">Aby zresetować swoje hasło kliknij przycisk poniżej</h2>
        <div style="text-align: center; display: flex; align-items: center; justify-content:center;">
            <a href="{{password_reset_link}}" style="display: block; text-decoration: none; margin: 5px 0;
             background-color: rgb(34, 188, 102); color: white; padding: 10px 20px; padding-left: 20px;
             padding-right: 20px; padding-top: 10px; padding-bottom: 10px; font-size: 20px; border-radius:
              10px; text-align: center; width: 50%;">Zresetuj hasło</a></div>
        <h2 style="font-weight: normal;">Jeżeli powyższy przycisk nie działa, skopiuj poniższy adres URL i wklej go w pasku wyszukiwania swojej przeglądarki</h2>
        <p style="background-color: rgb(237, 239, 242); display: block; margin: 5px 0;
          color: rgb(116, 120, 126); padding: 10px 20px; padding-left: 20px; padding-right: 20px; padding-top: 10px;
          padding-bottom: 10px; border-radius: 10px; font-size: 18px; text-align: left; word-break: break-all;">{{password_reset_link}}</p>
        <h2 style="font-weight: normal; text-align: left;">Jeżeli nie prosiłeś o zresetowanie hasła do twojego konta, prawdopobnie inny użytkownik wprowadził twój adres email przez pomyłkę podczas próby zresetowanie swojego hasła. Jeżeli tak się stało, nie musisz podejmować żadnej akcji i możesz bezpiecznie zignorować tę wiadomość.</h2>
        <h2 style="font-weight: normal; font-size: 15px; text-align: center;">© 2021 Zołza Hairstyles</h2>
    </body>
</html>